<%- include('header') %>

<h1>Update Article</h1>
<hr>

<form method="POST" action="">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label><br>
    <input type="text" id="title" name="title" class="form-control"
        value="<%= article.title %>" 
        maxlength="200" required>
  </div>

  <div class="mb-3">
    <label for="content" class="form-label">Content</label><br>
    <textarea id="content" name="content" rows="10" class="form-control" 
    required><%= article.content %></textarea>
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-secondary">Submit</button>
    <a href="/<%= article.id %>" class="btn btn-outline-secondary float-end">Cancel</a>
  </div>
</form>

<%- include('footer') %>